.button {
  border: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 6px;

  &:hover {
    cursor: pointer;
  }
}

.primary {
  background: linear-gradient(135deg, #e5e5e9 0%, #fcfcff 100%);
  box-shadow:
    5px 5px 13px 0px #d5d5dd99,
    -5px -5px 10px 0px #ffffff99,
    5px -5px 10px 0px #d5d5dd1a,
    -5px 5px 10px 0px #d5d5dd1a,
    -1px -1px 2px 0px #e5e5e9 inset,
    1px 1px 2px 0px #fcfcff80 inset;
  padding: 6px;
  border-radius: 8px;
  color: var(--font-color-light);
}

.secondary {
  background: linear-gradient(135deg, #ffffff 0%, #e5e5e9 100%);
  border-radius: 50%;
  box-shadow:
    10px 10px 30px 0px #d5d5dd,
    -10px -10px 30px 0px #ffffff,
    2px 2px 5px 0px #ffffff inset,
    -2px -2px 5px 0px #e1e1ea inset;
  color: var(--font-color-normal);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;

  &:active {
    background: linear-gradient(135deg, #ffffff 0%, #e5e5e9 100%),
      linear-gradient(0deg, #f0f0f3, #f0f0f3);
  }
}

.transparent {
  background-color: transparent;
  color: var(--font-color-lighter);
}

.smaller {
  width: 24px;
  height: 24px;
}

.small {
  width: 36px;
  height: 36px;
}

.medium {
  width: 55px;
  height: 55px;
}

.large {
  width: 120px;
  height: 120px;
}

.red {
  color: #F37075
}