:root {
  // font-color
  --font-color-white: #fff;
  --font-color-lighter: #b3b3bc;
  --font-color-light: #878794;
  --font-color-normal: #4f4e59;
  --font-color-orange: #ff844e;
  --font-color-red: #f37175;
}
