.topContent {
  position: sticky;
  top: 0;
  background-color: #F0F0F3;
  z-index: 3;
  width: 100%;
  margin: 0 calc(var(--wrapper-horizontal-padding) * (-1));
  padding: 0 var(--wrapper-horizontal-padding);
}

.shadow {
  box-shadow: 10px 10px 30px 0px #D5D5DD,
  0px -1px 2px 0px #E5E5E9 inset;
}

.infoForInput {
  margin: 12px 0px 6px;
  font-size: 14px;
  color: var(--font-color-light);
  font-family: IBM Plex Sans;
  font-weight: 500;
}

.invalid {
  color: var(--font-color-red);
  font-size: 14px;  
}


.currentCards {
  margin-top: 18px;
  font-size: 16px;
  font-weight: 500;
  color: var(--font-color-light);
}

.main {
  margin-top: 12px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.lastElement {
  height: 1px;
  width: 1px;
  background-color: transparent;
  position: absolute;
  margin-top: -50px;
}



