.modalContent {
  background-color: #f0f0f3;
  box-shadow:
    -1px -1px 2px 0px #e5e5e9 inset,
    1px 1px 2px 0px #fcfcff80 inset,
    5px 5px 13px 0px #d5d5dd99,
    -5px -5px 10px 0px #ffffffe5,
    5px -5px 10px 0px #d5d5dd1a,
    -5px 5px 10px 0px #d5d5dd1a;
  color: var(--font-color-normal);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
