.item {
  background-color: #E5E5E9;
  width: 100%;
  margin-top: 6px;
  border-radius: 6px;
}

.item1 {
  height: 36px;
}

.item2 {
  height: 77px;
}

.item3 {
  height: 64px;
}


.item4 {
  height: 108px;
}

.item5 {
  height: 36px;
}

.item6 {
  height: 64px;
}

.item7 {
  height: 54px;
}

.item8 {
  height: 36px;
}

.item9 {
  height: 64px;
}

.item10 {
  height: 108px;
}

.item11 {
  height: 54px;
}

.item12 {
  height: 77px;
}

.item13 {
  height: 64px;
}

.item14 {
  height: 36px;
}

.item15 {
  height: 108px;
}

.item16 {
  height: 36px;
}

.item17 {
  height: 64px;
}

.item18 {
  height: 48px;
}

.item19 {
  height: 108px;
}

.item20 {
  height: 36px;
}