.button {
  border: none;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;

  &:hover {
    cursor: pointer;
  }
}

.black {
  color: var(--font-color-normal);
}

.red {
  color: var(--font-color-red);
}

.small {
  padding: 6px 13px;
}

.regular {
  padding: 12px 32px;
}

.primary {
  background: linear-gradient(135deg, #ffc6a9 0%, #ff844e 100%);
  box-shadow:
    5px 5px 13px 0px #ffbe9f,
    16px 14px 16px 0px #9999ab29,
    -1px -1px 2px 0px #dd8a6280 inset,
    -5px -5px 10px 0px #ffffffbf;
  color: var(--font-color-white);
}

.default {
  background: #f0f0f3;
  box-shadow:
    5px 5px 13px 0px rgba(213, 213, 221, 0.6),
    -5px -5px 10px 0px rgba(255, 255, 255, 0.9),
    5px -5px 10px 0px rgba(213, 213, 221, 0.1),
    -5px 5px 10px 0px rgba(213, 213, 221, 0.1),
    -1px -1px 2px 0px #e5e5e9 inset,
    1px 1px 2px 0px rgba(252, 252, 255, 0.5) inset;
}

.transparent {
  background-color: transparent;
  border-radius: 0;
  box-shadow: none;
}
