.button {
  border: none;
  border-radius: 8px;
  display: flex;
  align-items: center;
  font-family: inherit;
  font-weight: 500;

  &:hover {
    cursor: pointer;
  }
}

.primary {
  background: linear-gradient(135deg, #ffc6a9 0%, #ff844e 100%);
  box-shadow:
    5px 5px 13px 0px #ffbe9f,
    16px 14px 16px 0px #9999ab29,
    -1px -1px 2px 0px #dd8a6280 inset,
    -5px -5px 10px 0px #ffffffbf;
  color: var(--font-color-white);

  svg {
    path {
      fill: var(--font-color-white);
    }
  }
}

.default {
  background: #f0f0f3;
  box-shadow:
    5px 5px 13px 0px #d5d5dd99,
    -5px -5px 10px 0px #ffffffe5,
    5px -5px 10px 0px #d5d5dd1a,
    -5px 5px 10px 0px #d5d5dd1a,
    -1px -1px 2px 0px #e5e5e9 inset,
    1px 1px 2px 0px #fcfcff80 inset;
  color: var(--font-color-normal);

  svg {
    path {
      fill: var(--font-color-normal);
    }
  }
}

.small {
  padding: 6px 13px;
}

.regular {
  padding: 12px 32px;
}
